<div class="about-section">
  <h1>ข้อมูลเกี่ยวกับสมาชิกกลุ่มที่ 2</h1>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/../../assets/01.jpg" alt="Patrick" style="width:100%">
      <div class="container">
        <h2>Cpl.Visarut Treemek</h2>
        <p class="title">เสมียนแผนกเทคโนโลยีสารสนเทศ กฝอ.สส.ทหาร</p>
        <p>wt_patrick@hotmail.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/00.jpg" alt="March" style="width:100%">
      <div class="container">
        <h2>Sm3. Akkawat Jojong</h2>
        <p class="title">อจช.แผนกวิชาการสื่อสาร กฝอ.สส.ทหาร</p>
        <p>akkawat_march@hotmail.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/02.jpg" alt="Art" style="width:100%">
      <div class="container">
        <h2>Cpl.Noraset Wachprecharak</h2>
        <p class="title">จนท.ประจำ ศรภ.</p>
        <p>noraset.w@rtarf.mi.th</p>

      </div>
    </div>
  </div>
</div>
